{{!-- <div>
        <img src={{image}} />

    <div class="details-div">
         <ul><strong>Specs:</strong>
            {{#each specs}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <ul><strong>About Item:</strong>
            {{#each about}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

    </div>
</div> --}}
<div class="detail-bg ">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{image}} class="img-fluid rounded-start img-center" alt="iphone Image" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <section class="section-padding">
          <h3 class="card-text text-color"><strong>Apple {{name}} ({{storage}}) - {{color}}</strong></h3>
          <h5 class="card-text">Price: {{price}} €</h5>

          </section>
          <section class="section-padding">

          <ul class="card-text"><strong>Specs:</strong>
            {{#each specs}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          <ul class="card-text "><strong>About Item:</strong>
            {{#each about}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          </section>
          <section  class="section-padding">
            <a href="/orders" class="btn btn-primary">Buy now</a>
            <a href="/products" class="btn btn-primary">Back/Shop More</a>
          </section>
          {{!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> --}}
        </div>
      </div>
    </div>
  </div>
</div>