<div class="bg-color">
  <div class="container text-center">
    <div id="product-list" class="row">
      {{#each products}}
        <section class="product col-12 col-md-3">
          <div class="card">
            <img
              class="products-img"
              src={{this.image}}
              class="card-img-top"
              alt="iphone Image"
            />
            <div class="card-body">
              <a
                class="card-title"
                id="product-name"
                href="/products/{{_id}}"
              ><h4>{{this.name}}</h4></a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Size:
                </strong>{{this.displaysize}}</li>
              <li class="list-group-item"><strong>Color:
                </strong>{{this.color}}</li>
              <li class="list-group-item"><strong>Price: </strong>{{this.price}}
                €</li>
            </ul>
            <div class="card-body card-bg-color">
              <a
                href="/products/{{_id}}"
                class="btn btn-light text-primary"
                style="border:2px solid blue"
              >More Details</a>
              <a href="/orders/{{_id}}" class="btn btn-primary">Buy now</a>
            </div>
          </div>
        </section>
      {{/each}}
    </div>
  </div>
</div>